spring:
  application:
    name: AppProdutos

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    hibernate:
      ddl-auto: update

  datasource:
    url: jdbc:h2:mem:produtosdb
    username: sa
    password:

  flyway:
    enabled: true

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operations-sorter: alpha
    tags-sorter: alpha
  show-actuator: false

logging:
  level:
    org:
      springdoc: DEBUG
      springframework:
        security: DEBUG

api:
  security:
    token:
      secret: ${JWT_SECRET:minha-chave-secreta-super-segura-para-desenvolvimento-2025}
      expiration: 7200000